#respawn-screen-container {
    color: white;
    background-color: black;
    aspect-ratio: 23/14;
    flex-shrink:2;
}

.respawn-map-container {
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.canvas {
    position: relative;
}

.respawn-map {
    position: relative;
    display: block;
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.bottom-controls{
    padding:10px;
    display:flex;
    justify-content:space-between;
    background-color:black;
}

.bottom-control {
    height: 38px;
    width: 38px;
    background-color: rgba(196, 196, 196, 1);
}

.bottom-control:hover {
    background-color:gray;
    cursor:pointer;
}


.botom-controls-container{
    display:flex;
    gap:5px;
}