.flex-column{
    display:flex;
    flex-direction:row!important;
    gap: 10px;
    justify-content:space-evenly;
    height: 69px;
}

.top-left-container {
    width: 85px;
    background-color: black;
    color: white;
    text-align: center;
    display:flex;
    flex-direction:column;
}

.top-left-container :hover {
    background-color: rgb(69, 67, 67);
    cursor: pointer;
}

.browse-text{
    font-size:14px;
}

.browse-button {
    background-color: none;
    flex-grow: 1;
}

.top-right-container {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-grow: 1;
}

.browse-icon{
    height:24px;
    width:24px;
    content:url("Assets/browse.svg");
}

.details-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.details-input {
    width: 350px;
    font-size: 17px;
    background: #565656;
    color: #24FF00;
    outline-width:0;
    border:none;
    height: 34px;
}

.details-info{
    font-size:16px;
}

.briefing{
    color: white;
}