@page "/"
@namespace Unit_13_Respawn_Screen.AdminScreen.Components

<div id="flex-row">
    <RespawnScreen/>
    <MarkerList/>
</div>

@code{
    [Parameter] public EventCallback<Unit_13_Respawn_Screen.Data.Layout> SetLayout { get; set; }
}