@page "/"
@namespace Unit_13_Respawn_Screen.AdminScreen.Components

<div id="flex-row">
    <div id="flex-column">
        <RespawnScreen/>

        <BottomControls/>
    </div>
    <MarkerList/>
</div>