@page "/"


<div id="flex-row">
    <div id="flex-column">
            <div id="respawn-screen-container">
                Respawn screen
            </div>


            <div id="bottom-controls">
                <div>test</div>
            </div>
    </div>
    <div id="markers-container">
        Markers
    </div>
</div>