@inject Unit_13_Respawn_Screen.Data.AppState AppState
@implements IDisposable

<div id="markers-container">
    @foreach(Data.Marker obj in AppState.SelectedLayout.Markers)
    {
        <div class="marker-container">
            <div class="marker-inside">
                <img src="Markers/@obj.Icon"/>
                <div>
                    @obj.Name
                </div>
            </div>
            <hr>
        </div>
    }
</div>

@code{
    protected override void OnInitialized()
    {
        AppState.LayoutChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.LayoutChange -= StateHasChanged;
    }
}
