<div id="markers-container">
    markers
</div>

        @code{
        [Parameter] public EventCallback<Unit_13_Respawn_Screen.Data.Layout> SetLayout { get; set; }
        private Unit_13_Respawn_Screen.Data.Layout selectedLayout{ get; set; }
}
