@inject Unit_13_Respawn_Screen.Data.AppState AppState
@implements IDisposable

<div id="markers-container">
    @foreach(Data.Marker obj in AppState.SelectedLayout.Markers)
    {
        <div>yep</div>
    }
</div>

@code{
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}
