@inject Unit_13_Respawn_Screen.Data.AppState AppState
@implements IDisposable

<div id="markers-container">
    @foreach(Data.Marker obj in AppState.SelectedLayout.Markers)
    {
        <div>@obj.X x @obj.Y</div>
    }
</div>

@code{
    protected override void OnInitialized()
    {
        AppState.LayoutChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.LayoutChange -= StateHasChanged;
    }
}
