#respawn-screen-container {
    color: white;
    background-color: black;
    aspect-ratio: 16/9;
}

.respawn-map-container {
    padding: 10px;
    padding-bottom: 0px;
}

.respawn-map {
    width: 76vw;
}

.bottom-controls{
    padding:10px;
    display:flex;
    justify-content:space-between;
}

.bottom-control {
    height: 38px;
    width: 38px;
    background-color: rgba(196, 196, 196, 1);
}

.bottom-control:hover {
    background-color:gray;
    cursor:pointer;
}


.botom-controls-container{
    display:flex;
    gap:5px;
}