@inherits MainLayout

<div id="respawn-screen-container">
    default
</div>


@code{
    [Parameter] public EventCallback<string> OnChange { get; set; }
    private string layoutName = "test";
    private Unit_13_Respawn_Screen.Data.Layout currentLayout{ get; set; }

    void SetLayout(string layout)
    {
        layoutName = layout;
    }
}