@inject Unit_13_Respawn_Screen.Data.AppState AppState
@implements IDisposable

<div id="respawn-screen-container">
     <div class="respawn-map-container">
       <img class="respawn-map" src="Assets/Map.jpg" asp-append-version="true" />
     </div>
     <div class="bottom-controls">
         <div class="botom-controls-container">
                    <img class="bottom-control" src="Assets/undo.svg" />
                    <img class="bottom-control" src="Assets/redo.svg" />
                    <img class="bottom-control" src="Assets/undo_all.svg" />
         </div>
         <div class="botom-controls-container">
                    <img class="bottom-control" src="Assets/add_location.svg" />
                    <img class="bottom-control" src="Assets/save.svg" />
         </div>
         <div class="botom-controls-container">
                    marker select
         </div>
         <div class="botom-controls-container">
                    <img class="bottom-control" src="Assets/fullscreen.svg" />
         </div>
    </div>
</div>


@code{
    protected override void OnInitialized()
    {
        AppState.LayoutChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.LayoutChange -= StateHasChanged;
    }
}