@inject Unit_13_Respawn_Screen.Data.AppState AppState
@implements IDisposable

<div id="respawn-screen-container">
    @AppState.SelectedLayout.Name
</div>


@code{
    protected override void OnInitialized()
    {
        AppState.LayoutChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.LayoutChange -= StateHasChanged;
    }
}