@namespace Unit_13_Respawn_Screen.AdminScreen.Components

<div class="flex-column">
    <div class="browse-layouts-container">
        Browse
    </div>

    <div class="layout-title-briefing-container">
        Title & Briefing
    </div>

    <LayoutPopup/>
</div>