@inherits LayoutComponentBase

<PageTitle>Unit 13 Respawn Screen</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="content">
         @Body
    </main>
</div>
