@inherits LayoutComponentBase
@namespace Unit_13_Respawn_Screen.AdminScreen.Components

<PageTitle>Unit 13 Respawn Screen</PageTitle>

<div class="page">
    <div class="top">
         <TopBar/>
    </div>

    <main class="content">
         <MainContent/>
    </main>

    <LayoutPopup />
</div>

@code{
    public string selectedLayout = "default";

    public Unit_13_Respawn_Screen.Data.Layout ChangeLayout(Data.Layout scenario)
    {
        return scenario;
    }
}